<!DOCTYPE html>
<html>

<head>
    <title>Record form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" type="text/css" href="Style.css">
</head>

<body>
    <div *ngIf="!getPage">
    <div>
        <h2> Hello User</h2> <br>
    </div>
    <div class="form">
            <div class="Set">
                <label for="RegNo"> <input type="text" [disabled]="editOrInsert==='Update'" id="regNo" [(ngModel)]="regNo" placeholder="Reg Number" required> </label>
            </div>

            <div class="Set">
                <label for="name"> <input type="text" id="name" [(ngModel)]="name" placeholder="Name" required></label>
            </div>

            <div class="Set">
                <label for="Email"> <input type="email" id="email" [(ngModel)]="email" placeholder="Email ID" required></label>
            </div>

            <div class="Set">
                <label for="PhoneNumber"><input type="tel" id="phoneNumber" [(ngModel)]="phoneNumber" pattern="[0-9]{10}"
                        placeholder="PhoneNumber" required> </label>
            </div>
            <div >
                <button class="btn-style bg-green" *ngIf="editOrInsert==='Insert'" (click)="insert()">{{editOrInsert}}</button>
                <button class="btn-style bg-white" *ngIf="editOrInsert==='Update'"(click)="update()">{{editOrInsert}}</button>
                <button class="btn-style bg-blue" (click)="get()"> Get All</button>
            </div>
    </div>
    </div>
    <div *ngIf="getPage" class="width-resize">
        <button class="btn-style bg-green mb-ml" (click)="addNew()">Add New</button>
        <table class="border-color">
            <tr>
            <th>RegNo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
            </tr>
            <tr *ngFor="let student of studentDetails;let index=index">
                <td>{{student.regNo}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phoneNumber}}</td>
                <td><button class="edit-btn bg-blue" (click)="edit(index)">Edit</button>
                    <button class="edit-btn bg-red" (click)="remove(student.regNo)">Delete</button></td>
            </tr>
        </table>

    </div>
</body>